html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar-brand {
    font-weight: 500;
    color: #505050;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #EBEBEB;
}

h1 {
    color: #505050;
    font-size: 200%;
    margin: 0px;
}

.my-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 5px;
}

.my-container th {
    color: #505050;
}

.table td {
    max-width: 200px;
    word-wrap: break-word;
}

.delete-btn img {
    width: 30px;
    height: auto;
}

.custom-dropdown {
    padding: 5px 10px;
    border-radius: 5px;
}

.form-group textarea {
    min-height: 25vh;
    resize: none;
}

.auth-container button {
    height: 3em;
}
